div{
    background-color: aquamarine;
}
p{
    font-size: small;
}
.image{
    font-size: x-small;
   
}
section{
    font-size: small;
}
ul{
    font-size: small;
}

table{
    font-size: small;
     border-collapse: collapse;
width: 100%;
    }

th, td{
    border: 1px solid black;
 border-collapse: collapse ;
    

}

footer{
    font-size: small;
   
     
}