div{
    background-color: aquamarine;
}
p{
    font-size: small;
}
.image{
    font-size: x-small;
   
}
section{
    font-size: small;
}
ul{
    font-size: small;
}

table{
    font-size: small;
     border-collapse: collapse;
width: 100%;
    }

th{
    border: 1px solid black;
 border-collapse: collapse ;
    }

td{
    border: 1px solid black;
    border-collapse: collapse ; 
}
.riga1{
    background-color: blue;
}

.riga2{
    background-color: aqua;
}
.riga3{
    background-color: aliceblue;
}
.riga4{
    background-color: aqua;
}
footer{
    font-size: small;
   text-align: center;
     
}